.infoCell{
    width: 30px;
    height: 30px;
    background-color: white;
}
.infoCell.grn{
    background-color: #4dff94;
}
.infoCell.orng{
    background-color: #ff9d00;
}
.infoCell.ylw{
    background-color: #f8f830;
}
.t{
    display: inline-block;
    margin:0.5em;
}
.cn{
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
#tt{
    min-width: 16ch;
    text-align: left;
}
.colored-toast.swal2-icon-success {
    background-color: #82ca58 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
    text-align: center;
}
.colored-toast .swal2-text {
    color: white;
    text-align: center;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-content {
    color: white;
}
body{
    margin: 0 auto;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 1em; */
    user-select:none;
    position: relative;
    min-height: 100vh;
}
.root{
    padding-bottom: 4em;  
}

footer {
    text-align: center;
	background-color: #212121;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: Arial;
    font-size: large;
}
.nodes {
	display: table;
	margin: 1.5em auto;
}
.root {
	width: 100%;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid rgb(16, 203, 236);
	/* border-radius: 50%; */
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}
.node-row .cell:not(:last-child){
    border-right: none;
}

.nodes .node-row:not(:last-child) .cell{
    border-bottom: none;
}
/* .node-col {
  border: 1px solid gray;
  min-width: 20px;
  min-height: 20px;
  display: inline-block;
  margin-right: 2px;
} */

.start {
    background-color: darkred;
    border:none;
	font-family: cursive;
	/* font-style: italic; */
	font-weight: bolder;
	/* font-size: x-large; */
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	animation-name: FadeInOut;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}

.end {
    background-color: darkred;
    border:none;
	/* font-size: x-large; */
	font-family: cursive;
	/* font-style: italic; */
	font-weight: bolder;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	animation-name: FadeInOut;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}
.weight {
	font-family: cursive;
	/* font-style: italic; */
	/* font-weight: lighter; */
	/* color: white; */
	border: 1px solid rgb(136, 136, 236);
	border-radius: 42%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	/* animation-name: FadeInOut;
	animation-duration: 0.1s;
	animation-timing-function: ease-in-out; */
    transition: 0.1s;
    /* transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); */
	overflow: hidden;
}
.cell.weight.finalpath {
	border: 1px solid black;
	border-radius: 0%;
}
@keyframes visitedFadeInOut {
	from {
		transform: scale(1.3);
		background-color: cyan;
		border-radius: 50%;
	}
	to {
		transform: scale(0.7);
		background-color: #2ed4a2;
		border-radius: 0%;
	}
}
.visiting {
	background-color: #ffff4d;
    color: black;
    border-color: rgb(36, 159, 197);
	/* transition: 0.2s; */
	animation: visitingFadeInOut 0.13s ease-in-out 0s;
	/* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
@keyframes visitingFadeInOut {
	from {
		transform: scale(0.3);
		background-color: orange;
		border-radius: 50%;
	}
	to {
		transform: scale(1);
		background-color: yellow;
		border-radius: 0%;
	}
}
.visited {
	background-color: #4dff94;
	/* border-color: #004669; */
	border-color: rgb(36, 159, 197);
	animation-name: visitedFadeInOut;
	transition: 0.1s;
	/* animation-delay: 0.6s; */
	animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: 2; */
	overflow: hidden;
}

.start.visited {
	background-color: darkslategray; /* rgb(111, 0, 255) */
}
.end.visited {
	background-color: darkslategray; /* rgb(111, 0, 255) */
}
.bellmanford{
    background-color: #f05800;
    transition: none !important;
}

@keyframes shortestPath {
	0% {
		background-color: #ff9d00;
        color: white;
    }
	25% {
        background-color: #e2cf24;
		color: rgb(46, 24, 65);
	}
	50% {
		background-color: rgb(236, 127, 178);
		color: rgb(248, 248, 248);
	}
	75% {
		background-color: #53ade0;
		color: rgb(255, 255, 255);
	}
	100% {
		background-color: #eca012;
		color: white;
	}
}
.finalpath {
	background-color: #ff9d00;
	border: 0;
	color: white;
    animation: shortestPath 6s ease-in-out 0s 1;
    cursor: pointer;
	/* animation-delay: 0.8s;
    animation-duration: 6s;
	animation-timing-function: ease-in-out; */
}

@keyframes FadeInOut {
	from {
		transform: scale(0.3);
		border-radius: 50%;
	}
	to {
		transform: scale(1);
		border-radius: 0%;
	}
}
.wall {
	background-color: #081124;
	border: 0;
	animation-name: FadeInOut;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
.cell.wallHover:hover {
    background-color: rgb(55, 55, 61);
    cursor: cell;
}

.wallHover.wall:hover {
    cursor:url("eraser.png"), auto;
    background-color: #727272;
}
