/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 200px;
    width: 25ch;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    /* display: inline; */
    content: "";
    top: 1em;
    right: 1ch;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 0.4em;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: #ffffff;
    padding: 0.5em 1em;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(71, 71, 71, 0.431) transparent;
    cursor: pointer;
}

.select-selected {
    color:rgba(255, 255, 255, 0.883);
    background-color: rgb(37, 40, 42);
}


/* Style items (options): */
.select-items {
	position: absolute;
	background-color: rgb(48, 50, 51);
	top: 100%;
	left: 0;
	right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover{
    background-color: rgb(49, 101, 109);
}
header{
    background-color: #212121;
    color: white;
    margin: 0 auto;
    padding: 0.5em;
}
.inNav{    
    display: inline-block;
    /* margin: 0.25ch 0.5ch 0.25ch 0.5ch; */
    margin: 0.25ch auto;
    /* padding-left: 20px; */
    cursor: pointer;
    color: #F44336;
}
.btn{
    display: inline-block;
    /* width: 50%; */
    /* margin: 0 auto; */
    margin: 0.5ch;
    border: 0.125rem solid #f93154;
	color: #f93154;
	padding: 0.5em;
    border-radius: 0.5em;
}
.btn:hover:not(.wallMode){
    transform: scale(1.06);
    transition: 0.3s;
    background-color: #f93154;
    border-color: #ffffff;
    color: #fff;
}

#startbtn {
	border-color: #ffbb00;
	color: #ffbb00;
}
#startbtn.btn:hover{
	background-color: #28334AFF;
	color: #fffb00;
    border-color: #fffb00;
}
@keyframes wallmode{
    from{transform:scale(0.8);}
    to{transform:scale(1);}
}
.addWallBtn {
    border-color: #ADEFD1FF;
    color: #ADEFD1FF;
    /* transition-duration: 0.5s; */
}
.addWallBtn.btn:hover{
    border-color: #00203FFF;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    /* color: #ffffff; */
    /* transform:scale(1.1); */
    /* transition-delay: 0.2s; */
}
.wallMode{
    animation: wallmode 0.1s;
    background-color: rgb(43, 233, 217);
    border-color: #fff;
    /* border-color: rgb(44, 146, 100); */
    color: rgb(0, 0, 0);
    /* transform:scale(1.1); */
}

.otherBtn.btn:hover{
	background-color: #fff;
	color: #f93154;
    border: 0.12rem solid #f93154;
}

.wghtBtn{
	border-color: #00c3ff;
	color: #00c3ff;
}
.wghtBtn.btn:hover{
	background-color: #39c0ed;
    /* border-color: #00c3ff; */
}